bitftk
TestMusic/
*.mp3
*.flac
*.ogg
*.wav
*.aac
*.opus
*.m4a
*.wma
*.aiff
*.alac
*.pcm
*.dsd
*.pcm
*.dff

# just dont push ur fucking songs into the git repo moron!

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
